---
import "../styles/global.css";
---
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Cek Khodam Jawa - Temukan Khodam Anda</title>
    <meta name="description" content="Temukan Khodam Jawa Anda berdasarkan nama Anda. Cek Khodam Jawa adalah situs web yang membantu Anda menemukan Khodam Jawa Anda dengan mudah dan cepat.">

    <meta property="og:url" content="https://cek-khodam-jawa.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cek Khodam Jawa - Temukan Khodam Anda">
    <meta property="og:description" content="Temukan Khodam Jawa Anda berdasarkan nama Anda. Cek Khodam Jawa adalah situs web yang membantu Anda menemukan Khodam Jawa Anda dengan mudah dan cepat.">
    <meta property="og:image" content="/cek-khodam-online.webp">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="cek-khodam-jawa.vercel.app">
    <meta property="twitter:url" content="https://cek-khodam-jawa.vercel.app/">
    <meta name="twitter:title" content="Cek Khodam Jawa - Temukan Khodam Anda">
    <meta name="twitter:description" content="Temukan Khodam Jawa Anda berdasarkan nama Anda. Cek Khodam Jawa adalah situs web yang membantu Anda menemukan Khodam Jawa Anda dengan mudah dan cepat.">
    <meta name="twitter:image" content="/cek-khodam-online.webp">

    <meta name="google-site-verification" content="nDBkdgUJhtwTnx9p-Nz_cqQmYCpb9neZlLmNumGYqo0" />
    <link rel="canonical" href="https://cek-khodam-jawa.vercel.app/" />
  </head>
  <body>
    <slot />
  </body>
</html>